@page
@model SafeCon.Areas.Identity.Pages.Request.EditRequestModel
@{
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <h3>Edit Request</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="Request.Id" type="hidden" />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Request.Start"></label>
                <input asp-for="Request.Start" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Request.End"></label>
                <input asp-for="Request.End" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Request.FreightAmount"></label>
                <input asp-for="Request.FreightAmount" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Request.FreightType"></label>
                <input asp-for="Request.FreightType" cl class="form-control" />
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/Identity/Request/MyRequests">Cancel</a>
    </form>
</div>