@page
@model SafeCon.Areas.Identity.Pages.Payment.EditPaymentMethodModel
@{
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <h3>Edit Payment Method</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="Payment.Id" type="hidden" />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Payment.CardName"></label>
                <input asp-for="Payment.CardName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Payment.CardNumber"></label>
                <input asp-for="Payment.CardNumber" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Payment.Skt"></label>
                <input asp-for="Payment.Skt" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Payment.Cvv"></label>
                <input asp-for="Payment.Cvv" cl class="form-control" />
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/Identity/Payment/MyPaymentMethods">Cancel</a>
    </form>
</div>