@page
@using Microsoft.AspNetCore.Identity
@using SafeCon.Areas.Identity.Data
@using SafeCon.Services
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@model SafeCon.Areas.Identity.Pages.Payment.PaymentMethodModel
@{
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Payment Method</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Payment.CardName"></label>
                <input asp-for="Payment.CardName" class="form-control" />
                <span asp-validation-for="Payment.CardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.CardNumber"></label>
                <input asp-for="Payment.CardNumber" class="form-control" />
                <span asp-validation-for="Payment.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.Skt"></label>
                <input asp-for="Payment.Skt" class="form-control" />
                <span asp-validation-for="Payment.Skt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.Cvv"></label>
                <input asp-for="Payment.Cvv" class="form-control" />
                <span asp-validation-for="Payment.Cvv" class="text-danger"></span>
            </div>
            @{
                var userService = new UserService();
                var user = await UserManager.GetUserAsync(User);
                var customUser = userService.GetByDefault(user => user.Email.Equals(user.Email));
            }

            <button type="submit" class="text-danger">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
