@page
@using Microsoft.AspNetCore.Identity
@using SafeCon.Areas.Identity.Data
@using SafeCon.Services
@using (Html.BeginForm("UploadImages", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model SafeCon.Areas.Identity.Pages.Transporter.VehicleInfoModel
@{
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Vehicle Information</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vehicle.VehicleName"></label>
                <input asp-for="Vehicle.VehicleName" class="form-control" />
                <span asp-validation-for="Vehicle.VehicleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.InsurancePolicyNumber"></label>
                <input asp-for="Vehicle.InsurancePolicyNumber" class="form-control" />
                <span asp-validation-for="Vehicle.InsurancePolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.TrailerType"></label>
                <input asp-for="Vehicle.TrailerType" class="form-control" />
                <span asp-validation-for="Vehicle.TrailerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.VehicleCapacity"></label>
                <input asp-for="Vehicle.VehicleCapacity" class="form-control" />
                <span asp-validation-for="Vehicle.VehicleCapacity" class="text-danger"></span>
            </div>
            @{
                var userService = new UserService();
                var user = await UserManager.GetUserAsync(User);
                var customUser = userService.GetByDefault(user => user.Email.Equals(user.Email));
            }

            <button type="submit" class="text-danger">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
